In [7]:
# import basic
import pandas as pd
import numpy as np

# import mlflow
import mlflow
from mlflow import MlflowClient
from mlflow.models import infer_signature

# import hyper-parameter tuning tool
import optuna

# import compile steps
from steps import data_ingestion as di
from steps import data_transformations as dt
from steps import model_training as mt
import mlflow_exp as mle

import os

ImportError: cannot import name 'data_transformations' from 'steps' (c:\users\user\desktop\python project\mlflow\real loan application\steps\__init__.py)

In [8]:
import os

In [9]:
os.getcwd()

'C:\\Users\\USER\\Desktop\\MLOPS NEW\\E2E Loan Application Classification\\E2E_Loan_Application\\experiment'

# Define Dataset Path, Mlflow Client Server and So on.

In [2]:
# define path, mlflow client server and so on
file_path = '../data/Loan_Data.csv'

# set up mlflow client
client = MlflowClient()

experiment_name = "EX_2_Loan_Application_Classification"

# Define MLflow Experiment

In [3]:
# create experiment

experiment_description = (
    "This is the second experiment of loan prediction project"
    "This experiment contains the base experiments made"
)


model_involved = (
    "Logistic Regression"
    "AdaBoost"
)

other_tag = (
    "Optuna"
)

# Provide searchable tags that define characteristics of the Runs that
# will be in this Experiment
experiment_tags = {
    "project_name": "loan_application_project",
    "team": "syamil",
    "project_quarter": "Q1-2024",
    "mlflow.note.content": experiment_description,
    "mode_involved" : model_involved,
    "other_tag" : other_tag
}

# Create the Experiment, providing a unique name
try:
    create_experiment = client.create_experiment(
        name=experiment_name, tags=experiment_tags
    )
    print(f'Experiment {experiment_name} created')

except:
    print(f'Experiment {experiment_name} already_exist')

Experiment EX_2_Loan_Application_Classification already_exist

# Start Your Experiment Here

#### Maybe Data Preprocessing / Anything Here

In [6]:
# cleaning and transform

df = di.data_ingest(file_path)
X_train, y_train, X_test, y_test = dt.cleaning_train_pipeline(df)

#print(X_train.shape)
#print(y_train.shape)
#print(X_test.shape)
#print(y_test.shape)

CustomException: Error occured in Python script name [c:\users\user\desktop\python project\mlflow\real loan application\steps\data_transformation.py] line number [27] error message ["['Applicant_ID'] not found in axis"]

In [5]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

#### Model Experiment Here